<h4>
  Internal server error - refreshing the page will make the error dissapear
</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{ error.message }}</h5>
  <p class="font-weight-bold">
    Note: if your are seeing this. angular is not to blame
  </p>
  <p>What to do next</p>
  <ol>
    <li>Devtools</li>
    <li>request url</li>
    <li>Postman reproduce</li>
  </ol>

  <p style="font-weight: bold">Follwoign stack trace</p>
  <code class="mt-5" style="background-color: whitesmoke">
    {{ error.details }}
  </code>
</ng-container>
